#modify_page_holder {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 94vh 1fr;
}


#modify_container, #modify_lookup, #department_lookup {
    height: 100%;
    background-color: white;
}


#modify_header{
    padding-top: 10%;
    padding-bottom: 5%;
    border-bottom: 1px solid black;
    padding-left: 5%;
    color: black;
}

#modify_display_Sort{
    padding-left: 7%;
    padding-top: 5%;
}
#modify_display_Sort h4, #modify_display_Sort select {
    display: inline-block;
}

#modify_user_display{
    margin-top: 50px;
    display:grid;
    grid-template-columns: 90%;
    height: 65%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 8%;
    padding-right: 5%;
}
#modify_user_item{
    background-color: lightgrey;
    display: grid;
    height: 120px;
    color: white;
    grid-template-columns: 25% 65% 10%;
    margin-top: 20px;
    animation: slideInRight 0.4s;
}

#modify_user_img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-left: 15%;
    margin-top: 20%;
    background-color: black;
    object-fit: cover;
    border: 7px solid white;
}
#modify_user_info{
    display: grid;
    grid-template-columns: 100%;
    font-size: 20px;
}
#modify_user_info_bottom{
    font-size: 15px;
}

#modify_user_info_dept{
    color: white;
}
#modify_user_item button {
    border: none;
    font-size: 30px;
    color: white;
    background-color: salmon;
}
#modify_user_info_email {
    text-decoration: none;
    color: white;
    font-size: 15px;
    height: 10px;
}
#modify_user_info_email:hover {
    color: blue;
    cursor: pointer;
}
#modify_user_item button:hover{
    background-color: lightsalmon;
    cursor: pointer;
}



/* -------------------------------------------------------- */

#modify_lookup{
    border-right: 1px solid;
}

#modify_lookup_header{
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 5%;
    border-bottom: 1px solid black;
}

#modify_lookup_actions{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

#modify_lookup_actions button{
    padding: 10px;
    border: none;
}
#modify_lookup_actions button:hover{
    background-color: gray;
    cursor: pointer;
}
#modify_lookup_details{
    padding-top: 10%;
    height: 340px;
    overflow-y: auto;
}

#modify_action_delete {
    background-color: salmon;
}
#modify_action_approve {
    background-color: lightgreen;
    
}
#modify_action_assign {
    background-color: lightblue;
    
}

#modify_linkto_lookup{
    width: 100%;
    padding-left: 30%;
    padding-top: 60%;
    background-color: salmon;
    color: white;
    font-size: 40px;
}


/* ----------------------------------------------------------- */
#department_lookup{
    padding: 0px 10px 0px 10px;
    background-color: white;
    color: black;
    border-right: 1px solid black;
}

#department_lookup_members_display{
    height: 400px;
    overflow-y: auto;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

#department_details{
    text-align: center;
}

#dept_num_message{
    margin-top: 15%;
    font-size: 20px;
}
#department_actions_cont{
    display: grid;
    padding-bottom: 30px;
    padding-top: 30px;
    grid-template-columns: 25% 25% 25% 25%;
}
#department_actions_cont button {
    padding: 10px;
    border: none;
    background-color: lightgrey;
    color: black;
    border-right: 1px solid white;
    margin-top: 5px;
}
#department_actions_cont button:hover {
    background-color: gray;
    cursor: pointer;
}
#department_top, #department_bottom{
    display: grid;
    grid-template-columns: 50% 50%;
}

#department_selection{
    width: 100%;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 10px;
    margin-top: 5px;
    border: 1px solid black;
}
#dept_delection_cont {
    padding-left: 10px;
    padding-top: 5px;
}

/* -------------------------------------------------------- */
.modify_popup{
    display: none;
    position: absolute;
    width: 100%;
    height: 94%;
    animation: fadeIn 0.3s;
    z-index: 4;
}

.modify_popup_bg{
    background-color: black;
    opacity: 0.4;
    height: 100%;
    width: 100%;
}

#modidy_body{
    position: absolute;
    margin: -33% 0% 0% 38%;
    background-color: white;
    width: 400px;
    color: black;
    padding: 15px;
    border-radius: 10px;
    animation: slideInBottom 0.5s;
    padding-bottom: 20px;
}
.modify_pop_dis {
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
}

.modify_pop_assi {
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    float: right;
}
.modify_pop_assi:hover{
    background-color: #333333;
    cursor: pointer;
}

#modify_bg2{
    background-color: black;
    opacity: 0.4;
    height: 100%;
    width: 100%;
}

/* ----------------------------------------------------------- */

#modify__offsite_container{
    padding-top: 30px;
}
#modify__off_display {
    width: 90%;
    margin-left: 5%;
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.mod_off_feilds{
    margin-top: 10px;
    /* border-radius: 10px; */
}
.mod_off_feilds label {
    font-size: 20px;
}

#mod_off_bottom{
    width: 80%;
}
.mod_off_input{
    padding: 8px;
    background-color: lightgrey;
    border-bottom: none;
    width: 91.5%;
    border: none;
}

.mod_off_inputBTn{
    padding: 8px;
    width: 91.5%;
    background-color: lightgrey;
    border: none;
    border-top: none;
    text-align: center;
    height: 100%;
    color: white;
}
.mod_off_inputBTn:hover{
    cursor: pointer;
    background-color: gray;
}