#modify_container{
    width: 500px;
}

#modify_container, #modify_lookup {
    height: 93.5%;
    background-color: white;
    float: right;
}


#modify_header{
    padding-top: 10%;
    padding-bottom: 5%;
    border-bottom: 1px solid black;
    padding-left: 5%;
    color: black;
}

#modify_display_Sort{
    padding-left: 7%;
    padding-top: 5%;
}
#modify_display_Sort h4, #modify_display_Sort select {
    display: inline-block;
}

#modify_user_display{
    margin-top: 50px;
    display:grid;
    grid-template-columns: 90%;
    height: 65%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 8%;
}
#modify_user_item{
    border: 3px solid black;
    background-color: grey;
    display: grid;
    height: 120px;
    color: white;
    grid-template-columns: 25% 65% 10%;
    margin-top: 20px;
    animation: slideInRight 0.4s;
}

#modify_user_img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-left: 15%;
    margin-top: 20%;
    background-color: grey;
    object-fit: fill;
    border: 4px solid black
}
#modify_user_info{
    display: grid;
    grid-template-columns: 100%;
    font-size: 20px;
}
#modify_user_info_bottom{
    font-size: 15px;
}

#modify_user_info_dept{
    color: lightgrey;
}
#modify_user_item button {
    border: none;
    font-size: 30px;
    color: white;
    background-color: salmon;
}
#modify_user_info_email {
    text-decoration: none;
    color: lightgrey;
    font-size: 15px;
    height: 10px;
}
#modify_user_info_email:hover {
    color: blue;
    cursor: pointer;
}
#modify_user_item button:hover{
    background-color: lightsalmon;
    cursor: pointer;
}



/* -------------------------------------------------------- */

#modify_lookup{
    width: 500px;
}

#modify_lookup_header{
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 5%;
    border-bottom: 1px solid black;
}

#modify_lookup_display{
    border-right: 1px solid black;
}

#modify_lookup_actions{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#modify_lookup_actions button{
    padding: 10px;
    border: none;
}
#modify_lookup_actions button:hover{
    background-color: gray;
    cursor: pointer;
}
#modify_lookup_details{
    padding-top: 4%;
    height: 100%;
}