#container_dashboard {
    height: 87%;
    width: 100%;
    float: left;
    margin-top: 3%;
}

#sideBar, #mainFeed, #upcomming {
    float: left;
    height: 100%;
    margin-left: 4%;
    bottom: 0px;
    position: relative;
    min-width: 300px;
    max-width: 600px;
    color: black;
    /* border: 2px solid black; */
}

#sideBar {
    background-color: #ffffff;
    width: 25%;
}

#mainFeed {
    background-color: #ffffff;
    width: 35%;
}

#upcomming {
    background-color: #ffffff;
    width: 25%;
}

/*------------------------------------------------------------------------*/

#sideAcc {
    width: 100%;
    height: 20%;
    transition: background-color 1s ease-int-out;
}

#sideAcc:hover, #sideBar #accImgBox:hover, #sideBar #accInfo:hover {
    cursor: pointer;
    background-color: lightgrey;
}

table {
    height: 100%;
    padding: 0px;
}

#accImg {
    width: 70px;
    height: 70px;
    margin-top: 3%;
    margin-left: 20%;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
}

#accImgBox, #accInfo {
    height: 100%;
}

#accInfo {
    padding: 10px;
    height: 100%;
    width: 100%;
    font-size: 14px;
}

#accImgBox {
    width: 45%;
}

/* ------------------------------------------------------------------------------------ */

#offsiteDisplay {
    overflow-y: auto;
    height: 400px;
    padding-right: 10px;
    overflow-x: hidden;
    margin-top: 20px;
}

#offSiteData {
    background-color: lightgrey;
    border-collapse: collapse;
}

#sideOffsite {
    width: 93%;
    padding-left: 5%;
    margin-top: 30px;
}

#OffsiteSatus {
    padding: 0px;
    animation: fadeIn 1s;
    border-radius: 10px;
}

#OffsiteImg {
    width: 45%;
    margin-top: 5%;
    margin-left: 30%;
}

#offImg {
    width: 20%;
    border-right: none;
}

#offInfo {
    width: 50%;
    font-size: 13px;
    padding: 12px;
    border-left: none;
}

#offSiteType {
    text-align: right;
    padding: 10px;
    margin: 0px;
    font-size: 13px;
    background-color: salmon;
}

#offsiteTime {
    background-color: salmon;
    font-size: 12px;
    padding: 10px;
    margin: 0px;
    width: 30%;
    text-align: center;
}

#offsiteActivity, #offsiteActivity_Main {
    background-color: rgb(88, 88, 88);
    border-radius: 4px;
    padding: 3px;
    text-align: center;
    color: white;
    margin-top: 5px;
    border: none;
}

#offsiteLeft {
    float: left;
}

#offsiteRight {
    float: right;
    margin-top: 9px;
    margin-right: 5px;
}

/* ----------------------------------------------------------------------------- */

#mainAcctions {
    width: 100%;
    height: 100px;
}

#mainAcctions h2 {
    margin-left: 5%;
}

#acctionButtons {
    border: none;
    background-color: black;
    padding-top: 30px;
}

.acctionBtn {
    width: 20%;
    padding: 5px;
    text-align: center;
    display: inline-block;
    background: none;
    border: none;
}

#remoteBtn, #vacationBtn, #birthdayBtn, #sickBtn, #allBtn {
    animation: fadeIn 1s 1;
    background: none;
    border: none;
    color: white;
    transition: background-color .5s ease-in-out;
}

#remoteBtn:hover, #vacationBtn:hover, #birthdayBtn:hover, #sickBtn:hover, #allBtn:hover {
    cursor: pointer;
    background-color: #222222;
}

#PendingAmt {
    margin-left: 4%;
    margin-top: 10%;
}

#displayRequests {
    clear: both;
    width: 90%;
    margin-left: 5%;
    padding-right: 10px;
    height: 65%;
    overflow-y: auto;
    overflow-x: hidden;
}

#requests {
    width: 100%;
    height: 190px;
    animation: slideInRight 1s;
}

#requesteData {
    width: 100%;
    border-collapse: collapse;
    background-color: lightgrey;
}

#requestType {
    padding: 6px;
    font-size: 13px;
    background-color: darkgray;
}

#requestType label {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

#RequestTime {
    font-size: 13px;
    text-align: center;
    background-color: darkgray;
}

#requestInfo {
    width: 30%;
    font-size: 15px;
    padding: 12px;
    border-left: none;
}

#resultBtn1, #resultBtn2 {
    text-align: center;
    color: white;
    font-size: 90%;
}

#resultBtn1:hover, #resultBtn2:hover {
    cursor: pointer;
    background-color: black;
}

#resultBtn1 {
    background-color: rgb(109, 190, 109);
}

#resultBtn2 {
    background-color: rgb(211, 115, 104);
}

#requestDes {
    width: 30%;
}

#requestMemo {
    text-align: center;
    background-color: #5f5f5f;
    font-size: 13px;
}

#requestReason {
    font-size: 10px;
    padding-top: 5px;
}

#requestImage {
    width: 65%;
    margin-top: 10%;
    margin-left: 20%;
}

#requestImg {
    width: 20%;
    border-right: none;
}

#requestActivity {
    padding: 3px;
    text-align: center;
    margin-top: 5px;
    border: none;
    border: 1px solid white;
    color: white;
    background: none;
}

#requestActivity:hover {
    background-color: #333;
    cursor: pointer;
}

/* ---------------------------------------------------------------------- */

#upcommingResults {
    overflow-y: auto;
    height: 60%;
    width: 90%;
    margin-left: 5%;
    padding-right: 10px;
}

#upcomingTittile {
    width: 100%;
    height: 50px;
    margin: 0px;
    padding-top: 75px;
    border-bottom: 2px solid black;
}

#upcomingTittile h2 {
    margin-left: 5%;
}

#upcommingSort {
    width: 100%;
    padding-left: 4%;
    padding-bottom: 4%;
}

#upcommingSort h4, #offSiteSort {
    display: inline-block;
}

#offSiteSort {
    padding: 5px;
    margin-left: 20px;
    border: none;
    color: white;
    background-color: #333333;
}

#upcommingTime {
    background-color: darkgray;
    border-radius: 10px;
    padding: 5px;
    text-align: left;
    border: none;
    display: inline-block;
}

#upcommingImage {
    width: 55%;
    margin-top: 5%;
    margin-left: 30%;
}

#upcommingImg {
    width: 20%;
    border-right: none;
}

#upcommingType {
    padding: 6px;
    margin: 0px;
    font-size: 13px;
    background-color: salmon;
    color: white;
}

/* -------------------------------------------------------------------- */

#viewCalendarActivity {
    background-color: rgb(199, 104, 93);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    border: none;
    border: 1px solid lightsalmon;
    color: white;
    opacity: 0.6;
}

#viewCalendarActivity:hover {
    cursor: pointer;
    opacity: 1;
}

/* ------------------------------------------------------------------ */

@media screen and (max-width: 1000px) {
    #sideBar, #mainFeed, #upcomming {
        float: none;
        width: 100%;
        margin-top: 5%;
    }
    #sideAcc {
        height: 200px;
    }
    #requestReason {
        display: none;
    }
}

#upcomingTittile, #mainAcctions, #sideAcc {
    background-color: black;
    color: white;
}