#Dashboard_cont{
    background-color: white;
}
#dashHeader{
    padding-bottom: 45px;
    padding-top: 50px;
    background-color: black;
    color: white;
}
#dashHeader h2{
    margin-left: 3%;

}

#stat__id{
    height: 0%;
    background-color: white;
}

#stat_bg:hover {
    background-color: lightgrey;
}

#dash_display{
    display: grid;
    grid-template-columns: 50% 50%;
}


#dash_display h3{
    margin-left: 5%;
    margin-top: 15%;
    width: 90%;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
}

.stat_displayer{
    display: grid;
    grid-template-columns: 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3%;
    padding: 10px;
    height: 130px;
}
.stat_displayer label{
    color: lightgrey;
}

/* ------------------------------------------------------------- */
#report_cont{
    background-color: white;
}

#reportHeader{
    padding-top: 50px;
    padding-bottom: 45px;
    background-color: black;
    color: white;
}
#reportHeader h2{
    margin-left: 4%;
}

#reportBody{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 20px;
    overflow-y: auto;
    height: 70%;
}

.reportItem{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    padding-top: 10px;
}
#repopo{
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
}

.reportTypeName{
    font-weight: lighter;
}
/* ------------------------------------------------------------- */
