#Dashboard_cont, #report_cont{
    height: 92.1%;
    float: left;
    margin-left: 4%;
    padding-top: 50px;
    max-width: 600px;
}





/* ------------------------------------------------------------- */

#Dashboard_cont{
    background-color: white;
    width: 35%;
}
#dashHeader{
    padding-bottom: 45px;
    border-bottom: 2px solid black;
}
#dashHeader h2{
    margin-left: 3%;

}

#stat__id{
    height: 0%;
    background-color: white;
}

#stat_bg{
    background-color: lightgrey;
}
#stat_bg:hover {
    background-color: lightskyblue;
}

#dash_display{
    display: grid;
    grid-template-columns: 50% 50%;
}


#dash_display h3{
    margin-left: 5%;
    margin-top: 15%;
    width: 90%;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
}

.stat_displayer{
    display: grid;
    grid-template-columns: 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3%;
    padding: 10px;
    height: 130px;
}
.stat_displayer label{
    color: lightgrey;
}

/* ------------------------------------------------------------- */
#report_cont{
    background-color: white;
    width: 25%;
}

#reportHeader{
    padding-bottom: 45px;
    border-bottom: 2px solid black;
}
#reportHeader h2{
    margin-left: 4%;
}

#reportBody{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 20px;
}

.reportItem{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    padding-top: 10px;
}
#repopo{
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
}

.reportTypeName{
    font-weight: lighter;
}
/* ------------------------------------------------------------- */
