.pending_container,  .pending_container2{
  max-width: 50%;
  margin: auto;
  position: center;
  background-color: white;
}

#pending_header, #pending_message{
  padding: 10px;
}

#pending_header{
  padding-top: 10%;
  padding-bottom: 5%;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 95% 5%;
}

.pending_container input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  resize: vertical;
}

#pending_profile p{
  color: white;
  font-size: 20px;
}

.pending_container input[type="submit"] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  float: right;
}

.row {
  clear: both;
}

.row input {
  margin-right: 10px;
}
.pending_container .row:after {
  content: "";
  display: table;
  clear: both;
}

#pending_pro_img_container, #pending_pro_detainer{
  float: left;
}
#pending_pro_detainer {
  margin-left: 50px;
  padding: 10px;
}

.pending_container2 {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

#pending_loading_gif{
  width: 70px;
  height: 70px;

}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}