.offtype_container {
  max-width: 60%;
  margin: auto;
  padding: 10px;
  background-color: white;
  padding-bottom: 20px;
}

#offtype_header{
  padding-top: 5%;
  padding-bottom: 3%;
  border-bottom: 1px solid black;
}

#offtype_body{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

#offtype_body label{
  margin-top: 20%;
  text-align: center;
}

#offtype_body input, #offtype_body select {
  margin-top: 15%;
  padding: 10px;
}


#offtype_submition{
  text-align: right;
  margin: auto;
  margin-top: 30px;
}
#offtype_submition input{
  padding: 10px;
  background-color: black;
  border: none;
  color: white;
}


#offtype_container label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  margin-left: 50px;
}

#offtype_container input[type="submit"] {
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  float: right;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}