body {
  background-color: #3ea5bd;
}
#tree {
  left: 45%;
  position: fixed;
  top: 70px;
}
#calendar_s {
  left: 53%;
  position: fixed;
  bottom: 230px;
}
#calendar {
  left: 54.5%;
  position: fixed;
  bottom: 270px;
}
#leafs {
  left: 41.5%;
  position: fixed;
  top: 80px;
}
#man_s {
  left: 66%;
  position: fixed;
  top: 530px;
}
#man {
  left: 72%;
  position: fixed;
  bottom: 120px;
}
#cloud_s {
  left: 67%;
  position: fixed;
  top: 220px;
}
#cloud {
  left: 69%;
  position: fixed;
  top: 210px;
}
#pie_s {
  position: fixed;
  left: 56.5%;
  top: 75px;
}
#pie {
  position: fixed;
  left: 58%;
  top: 75px;
}
#signin_s {
  position: fixed;
  bottom: 10%;
  left: 5%;
}
#btnSignin {
  position: fixed;
  bottom: 17%;
  left: 8%;
}
